body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn {
  font-weight: 500;
  border-radius: $border-radius;
}


#nav-drawer {
  background-color: #cde9fa;
}

#region-main {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.list-group {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.form-control {
  border-radius: $border-radius;
}

.form-control:focus {
  border: 1px solid $primary;
  box-shadow: $box-shadow;
}

.custom-select {
  border-radius: $border-radius;
}

.custom-select:focus {
  border: 1px solid $primary;
  box-shadow: $box-shadow;
}


